div.main-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 174px 60px 174px;
}

section.suggestion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid {
  display: grid;
  grid-template-areas:
    "a b e e"
    "c d e e";
  gap: 8px;
}

section.enregistrement {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

article {
  flex: 1;
}

section.autres {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

p {
  margin: 0%;
}

article.card {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card div.img-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px 8px 0px 0px;
  padding: 6px;
  background-color: gray;
}

div.like-icon {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#article-a {
  grid-area: a;
}

#article-b {
  grid-area: b;
}

#article-c {
  grid-area: c;
}

#article-d {
  grid-area: d;
}

#article-e {
  grid-area: e;
}
