:root {
  --main-background-color: gray;
  --secondary-background-color: white;
  --terciary-background-color: rgb(255, 102, 0);
  --border-color: rgb(59, 58, 58);
  --text-primaire: black;
  --text-secondaire: rgb(75, 73, 73);
  --text-orange: rgb(255, 102, 0);
  /*   --card-background-image: ;
 */
  font-family: "Elms sans", sans-serif;
}

div.wrapper {
    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    justify-content: start;
    border: solid 1px var(--border-color);
}

div.app-name-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-size: 10px;
}

div.main-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--main-background-color);
  padding: 0px 150px 60px 150px;
}

h2.menu-title {
    font-size: 10px;
    color: var(--text-secondaire);
    margin: 0%;
}

ul {
    margin: 0%;
}

div.title-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin: 0%;
  font-size: 18px;
}

button.enregistrer-btn {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 4px 8px;
  border: unset;
  border-radius: 5px;
  font-size: 10px;
  color: var(--secondary-background-color);
  background-color: var(--terciary-background-color);
  height: fit-content;
}

section.suggestion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid {
  display: grid;
  grid-template-areas:
    "a b e e"
    "c d e e";
  gap: 8px;
}

section.enregistrement {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

article {
  flex: 1;
}

section.autres {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section.autres div.content {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.material-symbols-outlined {
  font-size: 17px;
}

.orange-color {
  color: var(--text-orange);
}

p {
  margin: 0%;
  font-size: 10px;
  font-weight: 600;
}

div.genre-container {
  background-color: var(--secondary-background-color);
  padding: 1px 10px 1px 5px;
  width: fit-content;
  border-radius: 16px;
}
p.genre {
  width: fit-content;
  font-size: 8px;
  color: var(--text-secondaire);
}

article.card {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card div.img-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px 8px 0px 0px;
  padding: 6px;
  background-color: rgb(141, 61, 61);
}

div.like-icon {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#article-a {
  grid-area: a;
}

#article-b {
  grid-area: b;
}

#article-c {
  grid-area: c;
}

#article-d {
  grid-area: d;
}

#article-e {
  grid-area: e;
}
