:root {
	/* Colors */
	--color-bg-main: #f2f2f7;
	--color-bg-secondary: white;
	--color-bg-accent: #f87700;
	--color-border: #cfcdc5;

	/* Text Colors */
	--color-text-primary: black;
	--color-text-secondary: #9f9f9f;
	--color-text-accent: #f87700;

	/* Font */
	--font-family-base: "Elms Sans", sans-serif;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family-base);
	background-color: var(--color-bg-main);
	box-sizing: border-box;
	min-height: 100%;
}

div.wrapper {
	display: flex;
	flex-direction: row;
}

main {
	display: flex;
	flex-direction: column;
	background-color: var(--color-bg-main);
	gap: 32px;
	padding-left: 173px;
}

aside {
	background-color: var(--color-bg-secondary);
}