:root {
	/*Background color*/
	--primary-bg-color: #f2f2f7;
	--secondary-bg-color: #ffffff;
	--terciary-bg-color: #f87700;
	/*Text color*/
	--primary-text-color: black;
	--secondary-text-color: #9f9f9f;
	--terciary-text-color: #f87700;
	/*Border color*/
	--searchBar-border-color: #e0e0e0;
	--border-color: #cfcdc5;
	/*Font styling*/
	--font-family-base: "Elms Sans", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: var(--font-family-base);
}

/* Reset body and html */

/*Text styling*/
h1[class*="black"],
h2[class*="black"],
p[class*="black"],
a[class*="black"] {
	color: var(--primary-text-color);
}

h1 {
	font-size: 16px;
}

h2[class*="gray"],
p[class*="gray"] {
	color: var(--secondary-text-color);
}

p[class*="orange"],
span[class*="orange"],
a[class*="orange"] {
	color: var(--terciary-text-color);
}

p[class*="titre-card"] {
	font-size: 16px;
	font-weight: 500;
}

p[class*="orange"] {
	color: var(--terciary-text-color);
}

button[class*="orange"] {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	border-radius: 4px;
	border: unset;
	padding: 8px 10px;
	height: fit-content;
	text-align: center;
	color: var(--secondary-bg-color);
	background-color: var(--terciary-bg-color);
	cursor: pointer;
}

h2.menu-gray {
	font-size: 1rem;
	font-weight: 500;
}

/*Layout*/
body {
	display: flex;
	flex-direction: row;
}

li {
	list-style: none;
}

ul {
	padding: 0%;
}

a {
	text-decoration: none;
}

/*Aside*/
aside {
	display: flex;
	flex-direction: column;
	gap: 58px;
	height: 103.75rem;
	width: 18rem;
	flex: 0 0 18rem;
	background-color: var(--secondary-bg-color);
	box-shadow: 5px 5px 10px var(--border-color);
	border: 1px solid var(--border-color);
	padding: 2rem;
}

div.app-name {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}

div.app-name > img {
	height: 2.5rem;
	width: 2.5rem;
}

section.menu {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

nav ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

nav ul li {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	padding: 0.5rem 1rem;
}

nav ul li img {
	width: 24px;
	height: 24px;
	display: block;
}

nav ul li a {
	display: flex;
	align-items: center;
	text-align: center;
}

/*MAIN*/
main {
	display: flex;
	flex-direction: column;
	gap: 60px;
	padding: 2.625rem 10.313rem;
	width: 100%;
}

div.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
/*Header*/
header {
	display: flex;
	flex-direction: row;
	gap: 1.375rem;
	align-items: center;
	justify-content: center;
}

search {
	flex-grow: 1;
}

input[type="search"] {
	width: 100%;
	padding: 0.5rem 1rem;
	border: 1px solid var(--searchBar-border-color);
	border-radius: 999px;
}

div.user {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

div.user > img {
	height: 2rem;
	width: 2rem;
}

/*Content*/
div.content-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

section.suggestion {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.suggestion-title {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
